/node_modules
/public/hot
/public/storage
/public/upload
/public/userfiles
/public/vendor/laravel-filemanager/files
/public/vendor/laravel-filemanager/images
/public/vendor/laravel-filemanager/img
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
